body {
  background: rgb(215, 228, 245);
}

.navBar  {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 30, 90);
  
}

.homeNav {
  border-right: 1px solid black;
  padding: 15px;
  color:rgb(253, 250, 250)
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  
}

.login_button {
  background-color: rgb(9, 30, 90);
  color:#FFF;
  padding: 3px 7px 3px 7px;
  margin: 4px;
 }

.topicsNav {
  display: flex;
  align-items: center;
}

.singleTopic  {
  
  margin-left: 20px;
  padding: 15px;
  text-transform: capitalize;
  border-left: 1px solid black;
  color:rgb(253, 250, 250)
}



.articleList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.articles {
  
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 0 10px;
  box-sizing: border-box;
}

.articleCard {
  background: #FFF;
  margin-top: 20px ;
  margin-right: 10px;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
  
}

.articleCard:hover {
  box-shadow: 0 2px 4px rgba(#000, 0.2),
              0 4px 8px rgba(#000, 0.2)
}

.article_card_footer {

  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleTitle {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
 
}

.articleVote {
  display: flex
}


.articleTopic {
  display: inline-block;
  
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #FFF;
  font-size: 0.75rem;
  font-weight:600;
  letter-spacing: 0.075rem;
  text-transform: uppercase; 
  background-color:   rgb(9, 30, 90);
}

.centerArticle  {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}


.commentCard {
  background: rgb(253, 250, 250);
  
  margin-top: 15px ;
  margin-right: 15px;
  padding: 8px;
  border: 1px groove black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
}

.commentList {
  list-style-type: none;
}

.commentAuthor {
text-transform: capitalize;
}


.post_comment {
  margin-top: 1em;
  width: 80%;
margin-left: 1em
}

.comment_form {

  display: flex;
  flex-direction: row;

}


.submit_comment {
  background-color:  rgb(9, 30, 90);
  color:rgb(253, 250, 250);
  height: 25px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 5px;
}

.loadBtn {
  margin-left: 10px;
  border-radius: 5px;
  background-color: rgb(9, 30, 90);
  color:rgb(253, 250, 250)
}






