body {
  background: rgb(215, 228, 245);
}




.header {
  text-align: center;
}

.navBar {
  margin: 20px;
  text-align:center;
  position: sticky;
  background-color: indianred;
}

.homeNav {
  margin: 10px;
}

.topicsNav {
  margin: 10px
}

.articleList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
}

.articles {
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 0 10px;
  box-sizing: border-box;
}

.articleCard {
  background: #FFF;
  margin: 10px ;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

.articleCard:hover {
  box-shadow: 0 2px 4px rgba(#000, 0.2),
              0 4px 8px rgba(#000, 0.2)
}

.articleTitle {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}


.articleTopic {
  display: inline-block;
  
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #FFF;
  font-size: 0.75rem;
  font-weight:600;
  letter-spacing: 0.075rem;
  text-transform: uppercase; 
  background-color:  blue;
}

.centerArticle  {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.commentCard {
  background: rgb(253, 250, 250);
  margin: 10px ;
  padding: 5px;
  border: 2px groove black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
}

.commentList {
  list-style-type: none;
}














/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
